.w3-button {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    background: none;
    margin: 2em 0.3em 0 0.3em;
    color: #888888;
}

.w3-button:hover{
    color:#000;
    border-bottom: 1px solid #000;
}

.w3-bar{
    /*border-bottom: 1px solid #888888;*/
    width: fit-content;
    margin: 0 auto;
}

.item-summary {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 2em;
    border-top: 1px solid #D9D9D9;
    margin: 1.5em 0 0 0;
}

.summary3 {
    border-bottom: 1px solid #D9D9D9;
}

.item_details,
.item-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_details {
    margin: 0 0 0 2em;
}


.item-image {
    display: flex;

}

.item_name {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #292929;
}

.item_sub {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #888888;
}

.item_size {
    color: #888888;
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.buttons {
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: #292929;
}

.remove-item {
    color: rgba(255, 0, 0, 0.659);
}

.checkout-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-summary {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.flex {
    display: flex;
    flex-direction: column;
    font-family: Satoshi;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
}

.flex2 {
    color: #888888;
}

.checkout-buttons button {
    background-color: #3341C1;
    padding: 0.8em 3em;
    color: #fff;
    font-family: Satoshi;
    font-size: 1.2em;
}

.checkout-buttons a {
    font-family: Satoshi;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 44px;
    color: #006CA2;
}

.buttons button {
    background: none;
}


form{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    color: #888888;
}