.drop-container {
    margin-top: 4em;
    padding: 1em;
}

.drops-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drops-header h4 {
    font-family: Satoshi;
    font-size: 48px;
    font-weight: 500;
    line-height: 84px;    
}

.drops-header p{
    font-family: Satoshi;
    font-size: 32px;
    font-weight: 400;
    line-height: 64px;
    color: #616161;
}

.drops-header button{
    background: none;
    border: 1px solid #000;
    padding: 0.02em 3.5em;
    font-family: Satoshi;
font-size: 1.3em;
font-weight: 500;
line-height: 64px;
border-radius: 5px;
}

.drop-details {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.drop-details .status {
    height: 43px;
    width: 189px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #fff;
    margin-bottom: 1em;
}

.status1 {
    background-color: #4693ED;
}

.status2 {
    background-color: #3EA03B;
}

.status3 {
    background-color: #999EA5;
}

.date {
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.creator {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
}

.creator-name {
    color: #006CA2;
}

.drop-details button {
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    color: #006CA2;
    border-bottom: 2px solid #006CA2;
    background: none;
}

#drops-footer {
    position: relative;
    top: 10em;
}

#footer-newsletter {
    position: relative;
    top: 8em;
}

@media screen and (min-width: 768px) {
    .drop-container {
        display: flex;
    }

    .drop-image img {
        width: 863px;
    }

    .drop-details {
        margin: 0 1em 0 3em;
    }
}