.thanks-main {
    background-image: url("../assets/Group1.png");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
}

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 2em;
    text-align: center;
}

.greeting {
    font-family: Satoshi;
    font-size: 2em;
    font-weight: 500;
    line-height: 2em;
}

.message {
    font-family: Satoshi;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
}